.logo {
  text-transform: uppercase;
  font-size: var(--size-5);
  font-weight: bold;
  font-family: var(--font-heading);
  color: var(--navigation-foreground);
  display: flex;
  align-items: center;
  gap: var(--size-3);
}

.mark {
  width: 3.75rem;
  height: 3.75rem;
  padding: 0;
  border-radius: 8px;
  object-fit: contain;
}

.logo h4:hover,
.logo h4:active,
.logo h4.active {
  color: var(--navigation-link-hover);
}

@media (min-width: 768px) {
  .logo {
    font-size: var(--size-8);
  }
}
