.logo {
  text-transform: uppercase;
  font-size: var(--size-5);
  font-weight: bold;
  font-family: var(--font-heading);
  color: var(--navigation-foreground);
  display: flex;
  align-items: center;
}

.logo img {
  padding: 0.5rem;
}

.logo h4:hover,
.logo h4:active,
.logo h4.active {
  color: var(--navigation-link-hover);
}

@media (min-width: 768px) {
  .logo {
    font-size: var(--size-8);
  }
}
